.info__container{
  background-color: white;
  padding: 10px;
  font-size: 18px;
  color: #112538;
  max-width: 900px;
}

.info__title{
  background-color: rgb(243, 241, 241);
  text-align: center;
  max-width: 500px;
  justify-items: center;
  color: #194149;
  margin-bottom: 12px;
  border-radius: 10px;
  margin: 0 auto;
}

.info__paragraph{
  background-color: rgb(243, 241, 241);
  padding: 5px;
}

.info__image{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.info__img{
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 1px solid #cecece;
  border: 5px solid #194149;
}

.info__caption{
  background-color: rgb(243, 241, 241);
  margin-top: 15px;
  margin-bottom: 12px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  text-align: center;
  color: #194149
  ;
}

.info__item{
  background-color: rgb(243, 241, 241);
  margin: 5px;
  list-style: none;
  margin-left: 16px;
  margin-right: 16px;
}

.info__contact{
  background-color: rgb(243, 241, 241);
  text-align: right;
  line-height: 35px;
  padding-right: 15px;
}

.info__link{
  color: #194149;
}
