.product__card{
  background-color: rgb(243, 241, 241);
  border: 3px solid gray;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  display: flex;
  height: 220px;
  padding: 10px;
  width: 320px;
  margin: 2%;
}

.product__image{
  display: flex;
  height: 95px;
  width: 95px;
}

.product__title{
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 13px;
}

.product__elements{
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.product__clock{
  font-weight: 500;
  font-size: 12px;
}

.product__btn{
  background-color: #65a5dd;
  border-radius: 7px;
  color: white;
  width: 90px;
  font-weight: 600;
  border: none;
  height: 26px;
}

.product__btn:hover{
  background-color: #388ad3;
}

.product__btn--disabled{
  background-color: #a4c9e7;
  border-radius: 7px;
  color: white;
  width: 90px;
  font-weight: 600;
  border: none;
  height: 26px;
}

.product__clock{
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  height: 25px;
  width: 70px;
}
