*{
  margin: 0;
  padding: 0;
}

.home__grid{
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.home__nav-bar{
  width: 100%;
  background-color: red;
}
