.navigation__card{
  background-color: #333652;
  width: 100%;
}

.navigation__ul{
  justify-content: space-around;
  align-items: center;
  list-style: none;
  display: flex;
  height: 80px;
}

.navigation__text{
  text-decoration: none;
  color: #FAD02C;
  font-weight: 600;
}
